<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card mb-3">
                <img src="../../assets/image/imgLog.jpg" alt="Image Ségou" class="card-img-top">
                <div class="card-body">
                    <h2 class="h3 card-title ">Région Ségou</h2>
                    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae qui
                        doloribus
                        nemo magni temporibus odit?</p>
                    <button class="btn btnVoirPlus">Voir plus</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card mb-3">
                <img src="../../assets/image/imgLog.jpg"  alt="Image Koutiala" class="card-img-top">
                <div class="card-body">
                    <h2 class="h3 card-title ">Région Koutiala</h2>
                    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae qui
                        doloribus
                        nemo magni temporibus odit?</p>
                    <button class="btn btnVoirPlus">Voir plus</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card mb-3">
                <img src="../../assets/image/imgLog.jpg"  alt="Image Mopti" class="card-img-top">
                <div class="card-body">
                    <h2 class="h3 card-title ">Région Mopti</h2>
                    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae qui
                        doloribus
                        nemo magni temporibus odit?</p>
                    <button class="btn btnVoirPlus">Voir plus</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card mb-3">
                <img src="../../assets/image/imgLog.jpg"  alt="Image Mopti" class="card-img-top">
                <div class="card-body">
                    <h2 class="h3 card-title ">Région Mopti</h2>
                    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae qui
                        doloribus
                        nemo magni temporibus odit?</p>
                    <button class="btn btnVoirPlus">Voir plus</button>
                </div>
            </div>
        </div>

    </div>
</div>