* {
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,600;1,700&display=swap%27');
    font-family: 'Poppins', sans-serif;
 }
 
.tout{
   display: flex;
   width: 100%;
   height: 100vh;
   justify-content: center;
   align-items: center;
}
.Shadow{
   background: #fff;
   box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.25);
   border-radius: 10px;

}

.bgColor{
   //background: #274F8A;
   background: url(../../assets/image/bgWelcome3.jpg);
   background-size: cover;
   background-repeat: no-repeat;
}

h3{
   color: #274F8A;
}

div img{
   width: 120px;
   position: relative;
}

.contenuDroitLogo{
   position: relative;
   top: 40px;
   text-align: center;
}
 
.txtDescriptionApp{
   color: #fff;
   text-align: center;
   font-size: .8rem;
   //padding: 10px;
}
 div .bi-arrow-left-circle {
    color: #fff;
    font-size: 1.5rem;
 }
 
 /* ************************ FIN  BOUTON BACK     *****************
 ******************************************************** */
 
 
 div label {
    color: #505358;
    font-weight: 600;
     font-size: 1rem;
 }
 
 div input {
    font-size: .9rem;
    border: 2px solid #e7ebee;
    border-radius: 8px;
    padding: .4rem;
    outline: none;
    height: 45px;
    background: none;
    color: #171c25;
 }
 
 
 div input:focus {
    border-color: #0C85F8;
 }
 
 
 
 
 
 
 /* ************************  LOGIN CSS   *****************
 ******************************************************** */
 
 .btnLogin {
    //background: #0C85F8; // #ebeef4
    width: 100%;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    box-shadow: none;
    height: 50px;
    background: linear-gradient(90deg, rgba(39, 79, 138, 1)0%, rgb(0, 161, 247)100%);
 }
 
 
 .btnLogin:hover {
    background: #274F8A;
 }
 
 
 
 .txtInfoLogin {
    color: #171c25;
    font-size: .7rem;
 }
 
 
 .resetPassword {
    color: #274F8A;
    font-size: 1rem;
    text-align: center;
    position: relative;
    margin: 0;
    padding: 5px;
 }
 
 
 .iconss {
    text-align: center;
    margin-bottom: 10px;
 }
 
 div i {
    color: #171c25;
    margin-left: 10px;
    font-size: 1.2rem;
 }
 
 div .bi-facebook {
    color: #1877F2;
    ;
 }
 
 div .bi-google {
    color: #EA4335;
    ;
 }
 
 div .bi-github {
    color: #000000;
    ;
 }