<div class="col-md-6 offset-md-3">
    <div class="tout">
        <div class="container Shadow mb-3">
            <div class="row">
                <div class="col-12 col-md-6 bgColor align-items-center justify-content-center">
                    <div class="px-4  contenuDroitLogo">
                        <img src="../../assets/image/logo.png" alt="logo">
                        <p class="txtDescriptionApp">Une application permettant de faciliter le suivi de compétences
                            des apprenants par les
                            formateurs en rendant les tests à la fois instructifs, amusants et agréables.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="px-3 py-3">
                        <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()" class="mt-4">
    
                            <fieldset>
                                <h3 class="text-uppercase mb-3">connexion</h3>
                                <!-- ------------------- UserName ------------------------
                                  ------------------------------------------------------
                              -->
                                <div class="form-group mb-2 col-12 mb-3">
                                    <label for="username"> Nom d'utilisateur</label>
                                    <input type="text" formControlName="username"
                                        [ngClass]="{'is-invalid': submitted && loginForm.controls['username'].errors}"
                                        id="username" name="username" class="form-control"
                                        placeholder="Votre nom d'utilisateur" />
                                    <div *ngIf="submitted && loginForm.controls['username'].errors" class="text-danger">
                                        <div *ngIf="submitted && loginForm.controls['username'].errors['required']">
                                            Veillez remplir ce champs !
                                        </div>
                                    </div>
                                </div>
    
                                <!-- ------------------- Mots de passe ------------------------
                                  ------------------------------------------------------
                              -->
                                <div class="form-group mb-2 col-12 mb-4">
                                    <label for="password"> Mots de passe*</label>
                                    <input formControlName="password"
                                        [ngClass]="{'is-invalid': submitted && loginForm.controls['password'].errors}"
                                        type="password" class="form-control" id="password" name="password"
                                        placeholder="mots de passe *" />
                                    <div *ngIf="submitted && loginForm.controls['password'].errors" class="text-danger">
                                        <div *ngIf="submitted && loginForm.controls['password'].errors['required']">
                                            Veillez remplir ce champs !
                                        </div>
                                    </div>
                                </div>
    
                                <!-- ------------------- Boutons S'incrire ------------------------
                                  ------------------------------------------------------
                              -->
                                <div class="form-group mb-1 col-12">
                                    <button class="btn btnLogin">Se connecter</button>
                                </div>
    
                                <p class="resetPassword">
                                    Mots de passe oublié ?
                                </p>
    
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
       </div>
    </div>