<mat-nav-list>
  <div class="logo py-4" style="background: #0C85F8;">
    <img src="../../assets/ " height="70px"  alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>


  <mat-divider></mat-divider>
<h2 matSubheader class="mt-4"></h2>

<a mat-list-item routerLinkActive="active" routerLink="/home" class="text-light">
  <mat-icon class="text-light">dashboard</mat-icon>
  Tableau de bord 
</a>

<a mat-list-item routerLinkActive="list-item-active" routerLink="/videos" >
  <mat-icon style="color: white;">videocam</mat-icon> <span style="color: white;">Vidéos</span> 
</a>
<a mat-list-item routerLinkActive="list-item-active" routerLink="/conseil" >
  <mat-icon style="color: white;">comment</mat-icon> <span style="color: white;">Conseils</span> 
</a>
<a mat-list-item routerLinkActive="list-item-active" routerLink="/alerte" >
  <mat-icon style="color: white;">alarm_on</mat-icon> <span style="color: white;">Alertes</span> 
</a>

</mat-nav-list>